*/test
/test

__pycache__/
*.py[cod]
sc.sh
readme.sh
0x0F-python-object_relational_mapping/sql.sql
chadder.sh
0x14-javascript-web_scraping/package.json
0x14-javascript-web_scraping/package-lock.json
node_modules/